:root {
    --button-color: #2BCD43;
    --dark-background-color: #E5E5E5;
    --medium-background-color: #F5F5F5;
    --light-background-color: #FBFBFB;
    --primary-font: "Oswald", sans-serif;
    --font-color-white: #FEFEFE;
    --font-color-black: #0C0C0C;
    --font-color-light: #484848;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    box-sizing: border-box;
}

.inactive {
    display: none;
}

.desktop-nav {
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 3rem 10rem;

    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.03em;
    color: var(--font-color-white);
    text-decoration: none;
}

.desktop-nav__menu {
    list-style: none;
    font-size: 1.6rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    margin: 0 2.5rem;
}



.menu-link {
    text-decoration: none;
    color: var(--font-color-white);
    line-height: 27px;
    font-size: 1.8rem;
}

.bordered-button {
    border-style: solid;
    border-color: var(--font-color-white);
    padding: .5rem 5rem;
    border-radius: 1rem;
    border-width: 1.5px;
    cursor: pointer;
}

.hero__container {
    background: linear-gradient(0deg, rgba(16, 14, 10, 0.42), rgba(16, 14, 10, 0.42)), url("../img/pexels-nathan-cowley-897817.png");
    background-size: cover;
    background-position: left;
    height: 100vh;
    font-size: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__left {
    width: 50%;
}

.hero__right {
    width: 50%;
    color: var(--font-color-white);
    display: flex;
    flex-direction: column;
}

.heading-primary {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 7.2rem;
}

.btn {
    background-color: var(--button-color);
    border-radius: 2px;
    padding: 1rem;
    color: var(--font-color-white);
    font-size: 2rem;
    line-height: 3rem;
    width: 22rem;
    margin-top: 3.3rem;
    text-decoration: none;
    text-align: center;
}

.selling-points__container {
    font-size: 1.6rem;
    background-color: var(--medium-background-color);
    margin-top: 7.7rem;
    padding: 6rem 9rem 9rem 9rem;
}

.heading-secondary {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 6rem;
    color: var(--font-color-black);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.selling-points__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    color: var(--font-color-black);
}

.selling-points__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5.5rem;
    text-align: center;
    position: relative;
}

.heading-tertiary {
    font-size: 3.6rem;
    font-weight: normal;
}

.selling-points__item p {
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--font-color-light);
    margin-top: 1rem;
}

.line {
    border-right: 0.4pt solid #CCC;
    height: 8.5rem;
}


.testimonials__container {
    /* background-color: turquoise; */
    margin: 7.7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--font-color-black);
    font-size: 1.6rem;
}

.testimonials__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.testimonial__item {
    display: flex;
    margin-top: 4rem;
}

.testimonial__item:nth-child(2) {
    margin-left: 25rem;
}

.testimonial__item:nth-child(3) {
    margin-left: 5rem;
}

.testimonial__img {
    border-radius: 50%;
}

.testimonial__text {
    margin-left: 2.8rem;
    font-size: 2.4rem;
}

.testimonial__text p:first-child {
    font-weight: bold;
}

.testimonial__text:nth-child(2) {
    font-weight: 300;
    color: var(--font-color-light)
}

.call-to-action {
    /* margin-top: 7.7rem; */
    background-color: var(--medium-background-color);
    padding: 6rem 9rem 9rem 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.call-to-action .btn {
    margin-top: 0;
}