:root {
    --button-color: #2BCD43;
    --dark-background-color: #E5E5E5;
    --medium-background-color: #F5F5F5;
    --light-background-color: #FBFBFB;
    --primary-font: "Oswald", sans-serif;
    --font-color-white: #FEFEFE;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    box-sizing: border-box;
}

.desktop-nav {
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 3rem 10rem;

    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.03em;
    color: var(--font-color-white);
    text-decoration: none;
}

.desktop-nav__menu {
    list-style: none;
    font-size: 1.6rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    margin: 0 2.5rem;
}



.menu-link {
    text-decoration: none;
    color: var(--font-color-white);
    line-height: 27px;
    font-size: 1.8rem;
}

.bordered-button {
    border-style: solid;
    border-color: var(--font-color-white);
    padding: .5rem 5rem;
    border-radius: 1rem;
    border-width: 1.5px;
    cursor: pointer;
}

.hero__container {
    background: linear-gradient(0deg, rgba(16, 14, 10, 0.42), rgba(16, 14, 10, 0.42)), url("../img/pexels-nathan-cowley-897817.png");
    background-size: cover;
    background-position: left;
    height: 100vh;

    font-size: 1.6rem;
}