#signup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signup__form > label {
    font-family: "Roboto";
    font-size: 1.2rem;
    margin-top: 2rem;
}

#signup__form > input[type="text"], #signup__form > input[type="password"] {
    width: 43rem;
    height: 4rem;
}

#session-page-button {
    border: none;
    background: #F78844;
    padding: .8rem 3.8rem;
    color: var(--font-color-white);
    border-radius: 2px;
    font-family: "nunito";
    font-weight: bold;

    margin-top: 2rem;
    cursor: pointer;
    align-self: flex-start;
}