.auth-page-nav .bordered-button {
    border-color: black;
    border-radius: 2px;
    padding: 8px 19px;
    border-width: 1px;
}

.auth-page-nav .logo h1 {
    color: black;
}

.auth-page-nav .menu-items li a {
    color: black;
    font-family: "raleway";

}

.auth-page-nav .menu-items li:nth-child(2) {
    margin-top: -8px;
}

.login-container {
    display: flex;
    margin: 120px 244px;
    box-shadow: 13px 13px 28px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background: #FFFEFE;
}

.login-container .right h2 {
    margin: 0 138px;

    width: 140px;
    height: 36px;

    font-family: "Oswald";
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    letter-spacing: -0.0127em;

    color: #282828;
}

