.auth-page-nav .bordered-button {
    border-color: black;
    border-radius: 2px;
    padding: 8px 19px;
    border-width: 1px;
}

.auth-page-nav .logo h1 {
    color: black;
}

.auth-page-nav .menu-items li a {
    color: black;
    font-family: "raleway";

}

.auth-page-nav .menu-items li:nth-child(2) {
    margin-top: -8px;
}

.login-container {
    display: flex;
    margin: 120px 244px;
    box-shadow: 13px 13px 28px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background: #FFFEFE;
}

.login-container .right h2 {
    margin: 0 138px;

    width: 140px;
    height: 36px;

    font-family: "Oswald";
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    letter-spacing: -0.0127em;

    color: #282828;
}

.login-container .right h3 {
    margin: 0 185px;

    width: 41px;
    height: 27px;

    font-family: "Oswald";
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    letter-spacing: -0.0127em;

    color: #282828;
}

form#login-form > label {
    width: 30px;
    height: 14px;
    
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;    
    letter-spacing: -0.0127em;
    
    color: #282828;
}

form#login-form > input[type="text"], form#login-form > input[type="password"] {
    width: 431px;
    height: 40px;
}

.blue-rectangle {
    width: 376px;
    height: 604px;

    background: #004362;
}

.login-container .left {
    position: relative;
    float: left;
}

.login-container .right {
    width: 575px;
    float: right;
    margin: 175px 62px 173px 82px;
}

#signin-img {
    position: absolute;
    top: 34px;
    left: -89px;
    width: 436.49px;
    height: 625.01px;
}

.fine-print {
    padding-top: 44px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.fine-print li {
    margin: 0 44px;
    padding-bottom: 30px;
}

#signin-page-button {
    border: none;
    background: #F78844;
    padding: 8px 38px;
    color: #FEFEFE;
    border-radius: 2px;
    font-family: "nunito";
    font-weight: bold;
    /* letter-spacing: -0.0127em; */

    margin-top: 20px;
}

#signin-page-button:hover {
    cursor: pointer;
}

.login-form .checkbox::after {
    font-size: 40px;
    color: "orange";
}

.checkbox {
    border: 1px solid #282828;
    width: 25px;
    height: 25px;
    padding-top: 25px;
    padding-left: 25px;
    border-radius: 2px;
}

.checkbox-container {
    display: flex;
    margin-top: 26px;
}

.checkbox-container p {
    padding-left: 10px;
}

.inactive {
    display: none;
}