body {
 background-color: FBFBFB;
}

header {
    position: absolute;
    width: 1440px;
    height: 651px;
    left: 0px;
    top: 0px;
    background-color: rgba(16, 14, 10);
}

header img {
    position: absolute;
    width: 2241px;
    height: 1494px;
    left: -800px;
    top: -115px;

    opacity: 58%;
}

header nav {
    position: absolute;
    width: 1240px;
    height: 65px;
    left: 100px;
    top: 26px;

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    white-space: nowrap;
    color: #FEFEFE;
}

header nav .logo {
    /* position: absolute; */
    width: 323px;
    height: 65px;
    left: 100px;
    top: 26px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 163.2%;
    /* or 65px */

    letter-spacing: 0.03em;

    color: #FEFEFE;

    mix-blend-mode: normal;
}
/* 
.action-lav (code for left){
    position: absolute;
    width: 45px;
    height: 27px;
    left: 1100px;
    top: 46px;
} */

.action-nav{
    /* position: absolute; */
    width: 76px;
    height: 27px;
    left: 1127px;
    top: 46px;
}

.action-nav-box {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 1190px;
    top: 41px;

    border: 1px solid #FEFEFE;
    box-sizing: border-box;
    border-radius: 5px;
}

.heading {
    position: absolute;
    width: 568px;
    height: 157px;
    left: 740px;
    top: 239px;

    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;

    color: #FEFEFE;
    white-space: nowrap;

}

.action {
    /* position: relative;
    margin: 0 auto;
    width: 84px;
    height: 30px; */
    left: 45px;
    /* top: 439px; */
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;

    
    /* left: auto;
    top: auto; */

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #FEFEFE;  
    white-space: nowrap;
}

.action-box {
    position: absolute;
    /* width: auto;
    height: auto; */
    width: 221px;
    height: 50px;
    left: 745px;
    top: 429px;

    background: #2BCD43;
    border-radius: 2px;
}