body {
 background-color: FBFBFB;
}

header {
    position: absolute;
    width: 1440px;
    height: 651px;
    left: 0px;
    top: 0px;
    background-color: rgba(16, 14, 10);
}

header img {
    position: absolute;
    width: 2241px;
    height: 1494px;
    left: -800px;
    top: -115px;

    opacity: 58%;
}
