body {
 background-color: FBFBFB;
}

header {
    position: absolute;
    width: 1440px;
    height: 651px;
    left: 0px;
    top: 0px;
    background-color: rgba(16, 14, 10);
}

header img {
    position: absolute;
    width: 2240px;
    height: 1494px;
    left: -800px;
    top: -115px;

    opacity: 58%;
}

header nav {
    position: absolute;
    width: 1240px;
    height: 65px;
    left: 100px;
    /* top:0px; */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #FEFEFE;
}

header nav .logo {
    position: relative;
    display: inline-block;
    width: 323px;
    height: 65px;
    /* left: 100px; */
    /* top: 26px; */

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 163.2%;
    /* or 65px */

    letter-spacing: 0.03em;

    color: #FEFEFE;

    mix-blend-mode: normal;
}
/* 
.action-lav (code for left){
    position: absolute;
    width: 45px;
    height: 27px;
    left: 1100px;
    top: 46px;
} */

.action {
    left: 46px;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    color: #FEFEFE;  
}

.action-box {
    position: absolute;
    /* width: auto;
    height: auto; */
    width: 221px;
    height: 50px;
    left: 745px;
    top: 429px;

    background: #2BCD43;
    border-radius: 2px;
    padding-top: 0px;
    padding-left: 18px;
}

.action-nav{
    position: relative;
    display: flex;
}

.action-nav-box {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 40px;
    left: 765px;
    top: -6px;

    border: 1px solid #FEFEFE;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 36px;
    padding-top: 6px;
}

.heading {
    position: absolute;
    width: 568px;
    height: 157px;
    left: 740px;
    top: 200px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;

    color: #FEFEFE;
}

.landing-page{
    position: absolute;
    top: 651px;;
    width: 1440px;
    height: 2182px;
    left: 0px;

    background: #FBFBFB;
}

.line {
    position: absolute;
    width: 86px;
    height: 0px;
    top: 300px;

    border: 0.5px solid #000000;
    transform: rotate(90deg);
}

.line-one {
    left: 490px;

}

.line-two {
    left: 960px;
}

.selling-points-header {
    position: absolute;
    width: 535px;
    height: 61px;
    left: 525px;
    /* top: 790px; */
    top: 30px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 127.2%;
    /* identical to box height, or 61px */

    color: #0C0C0C;
}

.selling-points-container {
    position: relative;
    width: 1440px;
    height: 550px;
    top: 0px;

    background: #F5F5F5;
}

.selling-point-one {
    position: relative;
    width: 210px;
    height: 93px;
    left: 0px;
    top: 0px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 127.2%;
    /* or 31px */
    
    text-align: center;
    
    color: #484848;
}

.selling-point-two {
    /* All problems are fully encrypted to ensure complete privacy. */

    position: relative;
    width: 230px;
    height: 93px;
    left: 605px;
    top: 100px;

    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 127.2%;
    /* or 31px */

    text-align: center;

    color: #484848;
}

.selling-point-three {
    position: relative;
    width: 230px;
    height: 93px;
    left: 0px;
    top: 0px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 127.2%;
    /* or 31px */
    
    text-align: center;
    
    color: #484848;
}

.selling-point-div-one {
    position: relative;
    width: 230px;
    height: 154px;
    left: 200px;
    top: 40%;
}

.selling-point-div-two {
    position: absolute;
    width: 230px;
    height: 154px;
    left: 605px;
    top: 907px;    
}
