:root {
    --button-color: #2BCD43;
    --dark-background-color: #E5E5E5;
    --light-background-color: #F5F5F5;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald";
    background-color: var(--light-background-color);
}

a {
    text-decoration: none;
}

.logo a h1 {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 163.2%;
    /* or 65px */

    width: 323px;
    height: 65px;

    letter-spacing: 0.03em;

    color: #FEFEFE;
}

.nav-button {
    border-style: solid;
    border-color: #FEFEFE;
    padding: 5px 50px;
    border-radius: 10px;
    border-width: 1.5px;
}

.desktop-nav {
    width: 1440px;
    margin: 0 auto;
    padding: 26px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* z-index: 1; */
}

.desktop-nav .menu-items {
    display: flex;
    list-style: none;
}

.desktop-nav .menu-items li {
    margin: 0 25px;
}

.desktop-nav .menu-items li:nth-child(2) {
    margin-top: -6px;
}

.desktop-nav .menu-items li a {
    color: #FEFEFE;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.hero-container {
    position: absolute;
    width: 1440px;
    height: 651px;
    left: 0px;
    top: 0px;

    z-index: -1;
    background-color: rgba(16, 14, 10);
}

.hero-container img {
    opacity: 58%;
}

.hero-container .right {
    position: relative;
    color: #FEFEFE;

    z-index: 1;
}

.hero-container .right h2 {
    position: absolute;
    width: 568px;
    height: 157px;
    left: 730px;
    top: 239px;

    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
}

.hero-container .right a {
    position: absolute;
    width: 221px;
    height: 50px;
    left: 732px;
    top: 429px;

    background-color: var(--button-color);
    border-radius: 2px;
    padding: 10px 68px;

    color: #FEFEFE;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.inactive {
    display: none;
}
/* 
.wrapper {
    position: relative;
} */