:root {
    --button-color: #2BCD43;
    --light-background-color: #E5E5E5;
    --dark-background-color: #F5F5F5;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald";
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Merriweather";
}

.nav-button {
    border-style: solid;
    /* border-color: #FEFEFE; */
    padding: 5px 50px;
    border-radius: 10px;
    border-width: 1.5px;
}