:root {
    --button-color: #2BCD43;
    --light-background-color: #E5E5E5;
    --dark-background-color: #F5F5F5;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald";
}

a {
    text-decoration: none;
}

.logo a h1 {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 163.2%;
    /* or 65px */

    width: 323px;
    height: 65px;

    letter-spacing: 0.03em;

    color: #FEFEFE;
}

.nav-button {
    border-style: solid;
    border-color: #FEFEFE;
    padding: 5px 50px;
    border-radius: 10px;
    border-width: 1.5px;
}

.desktop-nav {
    width: 1440px;
    margin: 0 auto;
    padding: 26px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* z-index: 1; */
}

.desktop-nav .menu-items {
    display: flex;
    list-style: none;
}

.desktop-nav .menu-items li {
    margin: 0 25px;
}

.desktop-nav .menu-items li:nth-child(2) {
    margin-top: -6px;
}

.desktop-nav .menu-items li a {
    color: #FEFEFE;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.hero-container {
    position: absolute;
    width: 1440px;
    height: 651px;
    left: 0px;
    top: 0px;

    z-index: -1;

    background-image: url('./img/pexels-nathan-cowley-897817.png');
    /* background-color: #C4C4C4; */
    /* background: rgba(16, 14, 10, 0.58); */
}


.inactive {
    display: none;
}
/* 
.wrapper {
    position: relative;
} */